<div>
  <h1> <%= @recipe.name %> </h1>
  <p> Public <%= @recipe.public %> </p>
  <%= form_for @recipe, url: { action: :toggle_public } do |f| %>
    <span class="font-sm">Public</span>
    <label class="relative inline-flex items-center mr-5 cursor-pointer">
      <%= f.check_box :public, class: "peer hidden", onchange: "this.form.submit();", checked: @recipe.public? %>
      <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
    </label>
  <% end %>
  <p> Preparation_time <%= @recipe.preparation_time %> </p>
  <p> Cooking time  <%= @recipe.cooking_time %> </p>
  <p> <%= @recipe.description %> </p>

  <div>
    <%= link_to 'Add Ingedrient', new_recipe_recipe_food_path(@recipe) %>
  </div>

  <table>
    <thead>
      <tr>
        <th> Food </th>
        <th> Quantity </th>
        <th> Value </th>
        <th> Actions </th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr>
          <td> <%= recipe_food.food.name %> </td>
          <td> <%= recipe_food.quantity %> </td>
          <td> <%= recipe_food.quantity * recipe_food.food.price %> </td>
          <td>
            <div>
              <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, recipe_food) %>
              <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete %>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
