<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<div>
  <%= link_to 'Add Food', new_food_path %>
</div>

<div>
  <table>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= "$#{food.price}" %></td>
        <td><%= button_to 'Delete', food_path(food), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
